/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea al inicio en lugar de centrar */
    overflow-x: hidden; /* Elimina el desplazamiento lateral */
}

.container {
    max-width: 635px; /* Ancho máximo para vista escritorio */
    width: 100%; /* El contenedor ocupa el 100% de su contenedor principal */
    margin: 20px auto; /* Centra el contenido */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
}

/* Pregunta */
#question-text {
    font-weight: bold;
    margin-bottom: 20px;
}

/* Opciones */
.option {
    display: block;
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

/* Botones */
button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ancho completo para dispositivos móviles */
    max-width: 200px; /* Ancho máximo */
}

button#submit-btn {
    background-color: #007bff;
    color: white;
}

button#next-btn {
    background-color: #28a745;
    color: white;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Correcto e incorrecto */
.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

/* Etiquetas */
label {
    display: block;
    margin-bottom: 10px;
}

/* Contador */
#timer-container {
    margin-top: 20px;
    text-align: center;
}

#timer {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff0000;
}

/* Responsividad */
@media (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 15px;
    }

    #question-text {
        font-size: 1em; /* Reducir tamaño del texto */
    }

    button {
        font-size: 0.9em; /* Reducir tamaño del texto de los botones */
    }
}
